<!DOCTYPE html>
<html>

<head>

<title>AI Review Dashboard</title>

<style>

body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

h1{
color:#333;
}

.container{
width:80%;
margin:auto;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0px 0px 10px #ccc;
}

img{
max-width:100%;
}

button{
padding:10px 20px;
background:#4CAF50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#45a049;
}

</style>

</head>

<body>

<h1>AI Fake Review Analytics Dashboard</h1>

<div class="container">

<div class="card">

<h2>Fake vs Genuine Reviews</h2>

<img src="/static/review_chart.png">

</div>

<div class="card">

<h2>Sentiment Analysis</h2>

<img src="/static/sentiment_chart.png">

</div>

<div class="card">

<h2>Review Word Cloud</h2>

<img src="/static/wordcloud.png">

</div>

<br>

<a href="/">

<button>Back to Home</button>

</a>

<a href="/admin">

<button>View Admin Panel</button>

</a>

</div>

</body>

</html>