<!DOCTYPE html>
<html>
<head>
    <title>Fake Review Detection</title>
</head>
<body style="text-align:center; margin-top:50px;">

    <h2>Fake Review Detection</h2>

    <form action="/predict" method="post">
        <textarea name="review" rows="4" cols="50" placeholder="Enter review"></textarea><br><br>
        <button type="submit">Check</button>
    </form>

    {% if prediction_text %}
        <h3 style="color: {{color}};">{{ prediction_text }}</h3>
        <p>Confidence: {{ confidence }}</p>
    {% endif %}

</body>
</html>